/********************************************************
 * Project   : Tab Flow
 * Author    : David Young
 * Date      : May 1, 2013
 * Copyright : All rights reserved.
 * Licence   : Feel free to make changes for your own use,
 *             but you are not permitted to release anything
 *             based on my code in whole or in part.
 ********************************************************/

body {
    background: #eee;
    color: #333;
    font-family: Monda, Verdana;
    font-size: 11pt;
    padding-right: 20px;
}

a {
    color: #0077ff;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

div#windows {
    width: 500px;
}

form {
    text-align: right;
}

div#feedback {
    font-size: 14pt;
    position: absolute;
    top: 40px;
    left: 20px;
}
