body {
	background: #eee;
	color: #333;
	font-family: Monda, Verdana;
	font-size: 11pt;
}

a {
	color: #0077ff;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

div#windows {
	width: 500px;
}

form {
	text-align: right;
}